* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #EEF0FF;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1326;
    
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui {
    min-height: 500px;
    height: 45%;
    min-width: 500px;
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding-inline: 30px;
    padding-block: 50px;

    background: #131B2E;

    border-radius: 5px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, .25);

    span {
        display: flex;
        padding-inline: 5px;
        font-size: 13px;
        font-weight: 600;
        color: #DAE2FD;
    }
}

.ui > div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.inputDiretorioDestino {
    display: flex;
    gap: 10px;
}

.inputDiretorioDestino button {
    width: 30%;
    height: 50px;
}

input {
    width: 70%;
    height: 50px;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 5px;
    border: 1px solid #283044;
    background: #0B1326;
    font-size: 15px;
}

input:focus {
    outline: none;

    border-color: #2563EB;

    box-shadow: 0 0 0 4px rgba(37, 99, 235, .15);
}

select {
    width: 30%;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #283044;
    background: #3F465C;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

select:focus {
    outline: none;

    border-color: #2563EB;

    box-shadow: 0 0 0 4px rgba(37, 99, 235, .15);
}

.inputDuracao {
    display: flex;
    gap: 10px;
}

.btnTypeI {

    width: 100%;
    height: 50px;

    pading: 16px;

    border: none;

    border-radius: 5px;

    background: #3F465C;

    font-size: 15px;

    font-weight: 600;

    cursor: pointer;

    transition: .25s;

}

.btnTypeII {

    padding: 16px;

    border: none;

    border-radius: 5px;

    background: #8990A8;

    color: #131B2E;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: .25s;

}

button:hover {

    transform: translateY(-2px);

    box-shadow: 0 10px 20px rgba(37,99,235,.35);

}